:root {
    --nc-bg-1: #312E2B;
    --nc-bg-4: #272422;
}
body, div:not(#laminas-developer-toolbar):not(.laminas-toolbar-entry):not(.laminas-toolbar-preview):not(.laminas-toolbar-detail):not(.laminas-toolbar-info) {
    display: flex;
    flex-direction: column;
}

body {
    max-width: inherit;
    padding: 0;
}

.left-side {
    width: 100px;
    padding: 10px;
    background: var(--nc-bg-4);
}

.left-side {
    text-align: center;
}

.container {
    padding: 10px;
    flex: 1;
}

.player-bar {
    flex-direction: row !important;
    padding: 5px;
}

.player-bar.turn-to-play {
    border: 3px solid white;
    border-radius: 5px;
}

.player-bar:not(.turn-to-play) {
    margin: 3px;
}

.player-bar img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-bottom: 0;
}

.player-bar div {
    margin-left: 10px;
}

:root {
    --board-width: 75vh;
    --space-width: 7.5vh;
    --checker-width: 5vh;
}
.column-label {
    font-size: 10px;
    width: var(--space-width);
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: right;
}

.row-label {
    z-index: 999;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 10px;
}

.space {
    position: relative;
    width: var(--space-width);
    height: var(--space-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.space.white {
    background-color: #779556;
}

.space.black {
    background-color: #EBECD0;
}

.checker {
    position: absolute;
    width: var(--checker-width);
    height: var(--checker-width);
    border-radius: calc(var(--checker-width) / 2);
    box-shadow: inset 0 0 3px #000000;
}

@keyframes highlightchecker {
    0% {transform: scale(1)} 60% {transform: scale(1)} 70%{transform: scale(1.1)} 100%{transform: scale(1.0)}
}

.checker.movable {
    cursor: pointer;
    animation: 2s linear 3s infinite normal highlightchecker;
    animation-iteration-count:infinite;
}

.checker.black {
    background-color: #464342;
}

.checker.white {
    background-color: #F9F9F9;
}

#board-inner {
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: inset 0 0 3px #000000;
    padding: 1px;
    align-self: flex-start;
    position: relative;
}

li::marker {
    font-size: 12px;
    color: #786959;
}

li {
    padding-left: 10px;
}

.moving {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #cecece77;
}

.result-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #00000044;
    justify-content: center;
    align-self: center;
    padding: 40px;
}

.result {
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    background-color: var(--nc-bg-4);
    font-size: 32px;
    color: white;
    padding: 40px;
}

#disable-movement {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}